
/* app less definition */

// Paths below are relative to Grunt concat output path './tmp'
@import "../bower_components/bootstrap/less/bootstrap.less";

@font-colour: #fff;
@font-colour-inverse: #000;

html {
	min-height: 100%;
	position: relative;
}

/* required for bootstrap-ui */
.nav, .pagination, .carousel, .panel-title a, .dropdown-menu a { cursor: pointer; }

.clickable {
	cursor: pointer;

}

.editable td {

	cursor: text;
	&:hover {
		background-color: red;
	}
}

[contenteditable]:active,
[contenteditable]:focus{
	border:none;
	outline:none;
	box-shadow:inset 0 0 2px 0 #222;
	background-color: none;
}

td.ng-dirty {
	background-color: #CCFFCC;
}
td.ng-invalid {
	background-color: #FF9999;
}
