

<h3>{{ zone.name }}</h3>

<p>
<label>Filter Keyword:</label>
<input type="text" ng-model="query">
</p>

<form name="zoneForm">
<table class="table table-striped">
	<tr>
		<thead class="clickable">
			<th ng-click="orderByField='name'; reverseSort = !reverseSort">Name</th>
			<th ng-click="orderByField='type'; reverseSort = !reverseSort">Type</th>
			<th ng-click="orderByField='ttl'; reverseSort = !reverseSort">ttl</th>
			<th ng-click="orderByField='priority'; reverseSort = !reverseSort">priority</th>
			<th ng-click="orderByField='disabled'; reverseSort = !reverseSort">disabled</th>
			<th ng-click="orderByField='content'; reverseSort = !reverseSort">content</th>
		</thead>
	</tr>
	<tbody>
	<tr ng-repeat="record in zone.records | filter:query | orderBy:orderByField:reverseSort" class="clickable">
		<td contenteditable record-name data-zone="zone.name" name="recordName" ng-model="record.name">{{record.name}}</td>
		<td contenteditable ng-model="record.type">{{record.type}}</td>
		<td contenteditable integer ng-model="record.ttl">{{record.ttl}}</td>
		<td contenteditable integer ng-model="record.priority">{{record.priority}}</td>
		<td><input type="checkbox" ng-model="record.disabled"></td>
		<td contenteditable record-content data-type="record.type" ng-model="record.content">{{record.content}}</td>
	</tr>
	</tbody>
</table>
</form>

<div ng-messages="zoneForm.recordName.$error">
	<div ng-message="recordName">Please fix the recordname</div>
</div>
{{zoneForm}}
