<h2>Zones</h2>

<div ng-show="errMsg" class="alert alert-danger" role="alert">{{errMsg}}</div>

<table class="table table-striped">
	<tr>
		<thead>
			<th>Name</th>
			<th>Kind</th>
			<th>Serial</th>
			<th>Dnssec</th>
			<th>Masters</th>
		</thead>
	</tr>
	<tbody>
	<tr ng-repeat="zone in zones" ng-click="loadZone(zone)" class="clickable">
		<td>{{zone.name}}</td>
		<td>{{zone.kind}}</td>
		<td>{{zone.serial}}</td>
		<td>{{zone.dnssec}}</td>
		<td>{{zone.masters}}</td>
	</tr>
	</tbody>
</table>
<div ng-show="showAddZone">
	<form name="zoneForm" class="form-inline" ng-submit="save()" novalidate>
		<div class="form-group">
			<label>Domain name</label>
			<input type="text" ng-model="zone.name" name="name">
		</div>
		<div class="form-group">
			<label>Kind</label>
			<select name="kind" ng-model="zone.kind" class="form-control">
				<option value="Master">Master</option>
				<option value="Native">Native</option>
				<option value="Slave">Slave</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>
	<p ng-show="save.msg" class="alert alert-danger">{{save.msg}}</p>
</div>
<button class="btn btn-success" ng-hide="showAddZone" ng-click="showAddZone = true"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
</div>
